<header>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <fa-icon [icon]="icon"></fa-icon>
      Office 365
    </a>

    <ul class="nav navbar-nav navbar-right">
      <button *ngIf="!sub; else loggedIn" class="btn btn-primary" (click)="login()">Sign in</button>
      
      <ng-template #loggedIn>
        <img *ngIf="photoUrl" class="profile-pic" [src]="photoUrl" [title]="name" width="36px" height="36px">
      </ng-template>
    </ul>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>
